<button
	[routerLink]="['add']"
	nz-button
	nzType="primary"
	class="add-btn"
>
	Add teacher
</button>

<nz-table
	#basicTable
	[nzData]="teachers"
	[nzPageSize]="5"
	[nzScroll]="{ y: '340px' }"
>
	<thead>
		<tr>
			<th>ID</th>
			<th
				nzColumnKey="name"
				[nzSortFn]="true"
			>
				Name
			</th>
			<th>Username</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of basicTable.data">
			<td>{{ data.id }}</td>
			<td>{{ data.name }}</td>
			<td>{{ data.username }}</td>
			<td>{{ data.email }}</td>
			<td>{{ data.phone }}</td>
			<td>{{ data.address.city }}</td>
			<td>
				<nz-button-group>
					<button nz-button>
						<span
							nz-icon
							nzType="edit"
							nzTheme="twotone"
						></span>
					</button>
					<button nz-button>
						<span
							nz-icon
							nzType="delete"
							nzTheme="twotone"
						></span>
					</button>
				</nz-button-group>
			</td>
		</tr>
	</tbody>
</nz-table>
