<h1>{{ isEdit ? "Add" : "Edit" }} Teacher</h1>

<form
	[formGroup]="form"
	nz-form
>
	<!-- NAME -->
	<nz-form-item>
		<nz-form-label
			[nzSpan]="6"
			nzFor="name"
			>Name</nz-form-label
		>
		<nz-form-control
			nzErrorTip="Required field!"
			[nzSpan]="14"
		>
			<input
				nz-input
				placeholder="Enter your name"
				type="text"
				formControlName="name"
			/>
		</nz-form-control>
	</nz-form-item>
	<!-- USERNAME -->
	<nz-form-item>
		<nz-form-label
			[nzSpan]="6"
			nzFor="username"
			>Username</nz-form-label
		>
		<nz-form-control
			nzErrorTip="Required field!"
			[nzSpan]="14"
		>
			<input
				nz-input
				placeholder="Enter your username"
				type="text"
				formControlName="username"
			/>
		</nz-form-control>
	</nz-form-item>
	<!-- EMAIL -->
	<nz-form-item>
		<nz-form-label
			[nzSpan]="6"
			nzFor="email"
			>Email</nz-form-label
		>
		<nz-form-control
			nzErrorTip="Required field!"
			[nzSpan]="14"
		>
			<input
				nz-input
				placeholder="Enter your email"
				type="email"
				formControlName="email"
			/>
		</nz-form-control>
	</nz-form-item>
	<!-- PHONE -->
	<nz-form-item>
		<nz-form-label
			[nzSpan]="6"
			nzFor="phone"
			>Phone</nz-form-label
		>
		<nz-form-control
			nzErrorTip="Required field!"
			[nzSpan]="14"
		>
			<input
				nz-input
				placeholder="Enter your phone"
				type="text"
				formControlName="phone"
			/>
		</nz-form-control>
	</nz-form-item>
	<!-- WEBSITE -->
	<nz-form-item>
		<nz-form-label
			[nzSpan]="6"
			nzFor="website"
			>Website</nz-form-label
		>
		<nz-form-control
			nzErrorTip="Required field!"
			[nzSpan]="14"
		>
			<input
				nz-input
				placeholder="Enter your website"
				type="text"
				formControlName="website"
			/>
		</nz-form-control>
	</nz-form-item>
	<!-- ADD, CLEAR BTN -->
	<nz-form-item class="form-item__btn">
		<nz-form-control
			nzErrorTip="Required field!"
			nzSpan="14"
		>
			<button
				type="submit"
				nz-button
				nzType="primary"
				(click)="submit()"
				[disabled]="!form.valid"
				[routerLink]="[isEdit ? '../../' : '../']"
			>
				{{ isEdit ? "Edit" : "Add" }}
			</button>
			<button
				nz-button
				(click)="clear($event)"
			>
				Clear
			</button>
		</nz-form-control>
	</nz-form-item>
</form>
